version: '3.1'
services:
  mongo:
    container_name: mongo
    image: mongo
    ports:
      - 27017:27017
    volumes:
    - ./data:/data/db
    networks:
      - issues-db

  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    depends_on:
      - mongo
    networks:
      - issues-db

  issues-db-api:
    container_name: issues-db-api
    build: ./issues-db-api/
    image: issues-db-api
    ports:
      - 8000:8000
    networks:
      - issues-db
    environment:
      - MONGO_URL=mongodb://mongo:27017

networks:
  issues-db:
    driver: bridge
